@use 'reset';
@use 'vars';
@use 'global';
@use 'fonts';


body {
  font-family: 'OpenSans-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.35;
  font-weight: 400;
  @extend %opensans-400;
  color: vars.$color-black;
}

.promo {
  background-color: vars.$color-lightgray;
  padding: 7px 10px 9px;
  text-align: center;
  font-size: 11px;
  text-transform: uppercase;

}

.header {
  &__inner {
    padding: 37px 0 35px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__lang {
    display: flex;
  }

  &__lang--active {
    font-size: 16px;
    font-family: 'OpenSans-Bold', sans-serif;
    font-weight: 700;
  }
}

.logo {
  display: inline-block;
}

.menu {
  &__list {
    display: flex;
    gap: 30px;
  }
}

.header {
  &__actions {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.footer {
  background-color: vars.$color-darkblue;
  color: #fff;

  &__menu {
    padding: 55px 0 60px;
    margin-bottom: 50px;
    border-bottom: 1px solid vars.$color-lightgray;
  }

  &__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__menu-item {
    border-bottom: 1px solid vars.$color-lightgray;

    & svg {
      color: #fff;
    }
  }

  &__logo {
    border-bottom: none;
    margin-right: -20px;
    margin-left: -20px;
  }

  &__elements {
    display: flex;
    gap: 80px;
    margin-bottom: 50px;
  }

  &__element-title {
    opacity: 50%;
    margin-bottom: 20px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__form {
    width: 250px;
    position: relative;
  }

  &__form-input {
    display: inline-block;
    width: 100%;
    padding: 1px 30px 5px 0;
    border: none;
    border-bottom: 1px solid vars.$color-lightgray;
    background-color: transparent;
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  &__form-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 1px;
  }

  &__bottom-inner {
    padding: 9px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    font-size: 11px;
  }

  &__bottom-list {
    display: flex;
    gap: 37px;
  }

  &__bottom-item+.footer__bottom-item {
    position: relative;

    &::before {
      content: '|';
      position: absolute;
      left: -21px;
    }
  }
}

.top {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__inner {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    padding: 62px 0;
    position: absolute;
    top: 25%;
  }

  &__title {
    @extend %lora-400;
    font-size: 75px;
    max-width: 520px;
    line-height: 1.2;
    margin-bottom: 35px;
  }

  &__link {
    font-size: 20px;
    color: #fff;
    background-color: vars.$color-black;
    padding: 12px 38px;
    align-self: start;
    text-align: center;
    border-radius: 3px;
  }
}

.new-collection {
  padding: 150px 0 90px;

  &__inner {
    display: flex;
    position: relative;
  }

  &__content {
    max-width: 484px;
    padding: 75px 27px 0 40px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 25px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;

  }

  &__text {
    margin-bottom: 20px;
    color: vars.$color-gray;
    max-width: 403px;
  }

  &__btn {
    margin-top: auto;
    padding: 10px 65px;
    text-align: center;
    font-size: 20px;
    border: 1px solid vars.$color-black;
  }

  &__img {
    padding-top: 75px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 40px;
  }

  &__box-img {
    margin-bottom: 65px;
  }

  &__caption {
    font-size: 20px;
    color: vars.$color-gray;
    max-width: 290px;
    margin-left: auto;
  }
}

.join-us {
  background-color: vars.$color-darkblue;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__content {
    padding: 94px 0;
    max-width: 578px;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    @extend %lora-400;
    font-size: 30px;
    margin-bottom: 40px;
  }

  &__form {}

  &__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    margin-bottom: 20px;
    @extend %opensans-400;
    font-size: 20px;
    color: #fff;
    padding: 5px 10px 5px 0;

    &::placeholder {
      color: #fff;
    }
  }

  &__btn {
    background-color: vars.$color-black;
    color: #fff;
    border: none;
    padding: 12px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

  &__caption {
    font-size: 11px;
    padding-left: 30px;
  }
}